<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Room detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/room-style.css}"/>
</head>
<body>
    <div th:insert="~{fragments/main-fragment::menu}"></div>
    <div class="roof"></div>
    <div class="content">
        <div class="roomDetail">
            <p th:utext="'Name: <b>' + ${room.name} + '</b>'">...</p>
            <p th:utext="'Country: <b>' + ${room.country} + '</b>'">...</p>
        </div>
        <div class="room-with-bulb" th:class="${room.bulbStatus == 'ON' ? 'bulbOnImg' : 'bulbOffImg'}">
            <div id="cord"></div>
            <img th:if="${room.bulbStatus} == 'ON'" src="/images/bulb-on.png"/>
            <img th:if="${room.bulbStatus} == 'OFF'" src="/images/bulb-off.png"/>
        </div>
        <div id="changeBulbStatus">
            <form th:action="@{'/room/' + ${room.id}}" method="POST">
                <div th:if="${room.bulbStatus == 'ON'}">
                    <input type="hidden" name="newStatus" th:value="OFF" class="statusInput"/>
                    <input type="submit" value="OFF" class="statusBtn"/>
                </div>
                <div th:if="${room.bulbStatus == 'OFF'}">
                    <input type="hidden" name="newStatus" th:value="ON" class="statusInput"/>
                    <input type="submit" value="ON" class="statusBtn"/>
                </div>
            </form>
        </div>
    </div>
    <div th:insert="~{fragments/main-fragment::footer}"></div>
</body>
</html>