<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Room detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/room-style.css}"/>
</head>
<body>
    <div th:insert="~{fragments/main-fragment::menu}"></div>
    <input type="button" value="LIST in table" class="button" id="listInTable"/>
    <div class="roof"></div>
    <div class="content">
        <div class="roomDetail">
            <h2 th:utext="'Name: <b>' + ${room.name} + '</b>'">...</h2>
            <h2 th:utext="'Country: <b>' + ${room.country} + '</b>'">...</h2>
        </div>
        <div class="room-with-bulb">
            <div id="cord"></div>
            <div th:if="${room.bulbStatus} == 'ON'" class="bulbOnImg">
                <img src="/images/bulb-on.png" height="250">
            </div>
            <div th:if="${room.bulbStatus} == 'OFF'"> class="bulbOffImg"
                <img src="/images/bulb-off.png" height="250">
            </div>
        </div>
        <div id="changeBulbStatus">
            <form th:action="@{'/room/' + ${room.id}}" method="POST">
                <div th:if="${room.bulbStatus == 'ON'}">
                    <input type="text" hidden name="newStatus" th:value="OFF" class="statusInput"/>
                    <input type="submit" value="OFF" class="button statusBtn"/>
                </div>
                <div th:if="${room.bulbStatus == 'OFF'}">
                    <input type="text" hidden name="newStatus" th:value="ON" class="statusInput"/>
                    <input type="submit" value="ON" class="button statusBtn"/>
                </div>
            </form>
        </div>
    </div>
    <div th:insert="~{fragments/main-fragment::footer}"></div>
</body>
</html>